.landing-title {
    font-size: 11vmin;
    font-weight: 600;
  }

  .landing-text {
    font-size: 1.5vh;
  }

.bild {
    width: 90%;
    height: auto;
}

.hr {
    background: #333;
    border: none;
    color: #333;
    height: 1px;
    width: 100%;
   }

 