<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Bild_DonateImpact.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="landing-title">DonateImpact</h1>
            <h2> <i>“Each one of us can make a difference.<br>Together we make change.“ </i>         </h2> - Barbara Mikulski - <br>
            <br />
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <br>
            
            
            <a routerLink = "/create" routerLinkActive="active" class="btn btn-outline-neutral btn-round">Get Funding</a>
            <a routerLink = "/donate" routerLinkActive="active" class="btn btn-outline-neutral btn-round">Create Impact</a>
            <br>
            <br>
            <button type="button" class="btn btn-danger btn-round">Download our Whitepaper</button>
        </div>
        
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">


        
                <h1 class="title">What We Do</h1>
                
                <h3 class="description">
                    We enable fully traceable, transparent, fast, secure, and direct donations for projects shaping our society and world! 
                    <br>
                    <br>
                    We provide a blockchain-based donation ecosystem to propel educational, cultural, social, and ecological engagement that matters to all of us!
                    
                    <br>
                    <br>
                    Our decentralized, blockchain platform enables truly peer-to-peer donations without any bureaucracy and intermediary. 

                    <br>
                    <br>
                    <br>

                    <img src="./assets/img/Network_DonateImpact.png" alt="Network" class="bild">


                </h3>
                <br>
                <br>
                <a routerLink = "/details" routerLinkActive="active" class="btn btn-danger btn-round">See Details</a>
       
        
        <br>
        <hr> <!-- horizontal line-->
       
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Borderless <br> P2P-Donations</h4>
                        <p class="description">Donating in “Ether” implies an accessible platform by allowing people from all countries to donate for projects. 
                        </p>
                        <a class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Intermediary and bureaucracy-free</h4>
                        <p>Our decentralized blockchain solution builds upon smart contract to avoid costly intermediary services.</p>
                        <a class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Trustworthy and Transparent</h4>
                        <p> The immutable blockchain technology establishes trust and allows donors to transparently track their impact.</p>
                        <a class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Fast and <br> free of charge</h4>
                        <p>We offer our social, fully decentralized and autonomous solution for free and enable donations without delay.</p>
                        <a class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- TEAM -->

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Who we are and what drives us!?</h2>
        <div class="row">
    <!-- 1 -->
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/JBruegmann.JPG" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Jonas Brügmann</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                                Having an entrepreneurial background and talking the legs off an iron pot qualifies me for being the chef cook and bottle washer.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a target="_blank" href="https://twitter.com/BrugmannJonas" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
      
                        <a target="_blank" href="https://de.linkedin.com/in/jonas-br%C3%BCgmann-b30346143" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/PCamus.JPG" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Patrick Camus</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        
                   
                        <a target="_blank" href="https://www.linkedin.com/in/patrick-camus-156a78117/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
             <!-- 3 -->
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/TGuggenberger.JPG" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Tobias Guggenberger</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                 
                     
                        <a target="_blank" href="https://www.linkedin.com/in/tobias-guggenberger-304244151/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

<!-- ROW 2-->

<div class="row">
        <!-- 1 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/JLo.JPG" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Jannik Lockl</h4>
                                    <h6 class="card-category">Product Manager</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                    Having an entrepreneurial background and talking the legs off an iron pot qualifies me for being the chef cook and bottle washer.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a target="_blank" href="https://twitter.com/JannikLockl" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                         
                            <a target="_blank" href="https://www.linkedin.com/in/jannik-lockl-bb875b6a/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/NRuhland.JPG" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Nicolas Ruhland</h4>
                                    <h6 class="card-category">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            ...
                            </p>
                        </div>
                        <div class="card-footer text-center">
                                                      
                            
                        </div>
                    </div>
                </div>
                 <!-- 3 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/ASw.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">André Schweizer</h4>
                                    <h6 class="card-category">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Thrilled to make a difference and shape our future in respect for human dignity, the right for freedom, equality and solidarity.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a target="_blank" href="https://twitter.com/swissandre" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                       
                            <a target="_blank" href="https://de.linkedin.com/in/andr%C3%A9-schweizer-445390b4" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>


<!-- ROW 3-->

<div class="row">
        <!-- 1 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/PTroglauer.JPG" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Patrick Troglauer</h4>
                                    <h6 class="card-category">Product Manager</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            
                          
                            <a target="_blank" href="https://www.linkedin.com/in/patrick-troglauer-984a5b164/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">tbd</h4>
                                    <h6 class="card-category">tbd</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            ...
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a  class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                         
                            <a  class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                 <!-- 3 -->
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">tbd</h4>
                                    <h6 class="card-category">tbd</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            ...
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a  class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>




    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <!--<h2 class="text-center">Get in touch</h2>
                    
                    
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>

                -->
                </div>
            </div>
        </div>
    </div>
</div>
