<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Bild_DonateImpact.png');">
  <div class="filter"></div>
  <div class="container">
    <br>
    <br>
    <div class="container">
      <br/>
      <br/>
      <div>
        <div class="col-lg-8 card col-md-8 col-sm-12 ml-auto mr-auto">
          <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">We couldn't detect Metamask on your browser</h5>
            <p class="card-text">Metamask is an easy to use Ethereum wallet and allows to connect your browser to the Ethereum Blockchain.
            </p>
            <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
            <iframe width="650" height="350" src="https://www.youtube.com/embed/6Gf_kRE4MJU" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
            <br>
            <a href="https://metamask.io/" target="_blank" class="btn btn-danger btn-block btn-round">Get Metamask Now</a>
          </div>
        </div>

      </div>



    </div>
  </div>