<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/neu.png');" >
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="landing-title"> </h1>
            <h2>  </h2> <br>
            <br />
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <br>
            
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        
    </div>
</div>
<div class="main">


    <div class="section text-center">
    <div class="container">




            <h1 class="title">Problem</h1>
            <h3 class="description">
                Plenty of engaged people struggle to finance their projects effectively. Equally, various beneficent people strive to support initiatives purposefully. Organizations mediating the donation process cost money and time, but each, donatee and benefactor, are unwilling to lose value by resigning on these intermediaries. 
            </h3>

<br>
<!--************************-->

            <hr> <!-- horizontal line-->
       
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Educational</h4>
                            <p class="description">
                                ... after his apprenticeship as a media designer Max needs 30 Ether for his bachelor studies in communication management in Hamburg. 
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cultural</h4>
                            <p>... would like to offer guided museum tours for pensioners and needs 2 Ether for their initial organization
                                </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Social</h4>
                            <p> ... would like to establish homework care for children of unprivileged families in problem areas and therefore needs 22.5 Ether for rent and working materials</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Ecological</h4>
                            <p>... needs 75 Ether for the development of an emission-saving prototype of a new type of engine for her startup company
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
    

<!--******************************-->
<br>
<hr> <!-- horizontal line-->
<h1 class="title">Our approach</h1>
<h3 class="description">
        ​The DonateImpact Initiative ensures the security and traceability of each donation. Based on the Ethereum Blockchain, we enable donatees to raise their projects autonomously and donators to invest into them straightforwardly. By incarnating a project, the donor recipients simultaneously trigger the embodiment of a smart contract, which allows the benefactors to process the donation directly to the project – without any intermediating institution.  ​
        <br>
        <br>​
        Those who are interested in our society’s progress can donate directly to those who have the time and passion for engaging. Today, costly organizations linking both sides are becoming obsolete. By means of latest technology, the process of transferring the donation from the benefactor to the donatee can be executed as fast and efficient as possible.       
</h3>

<br>
<br>
<!--******************************-->
<br>
<hr> <!-- horizontal line-->
<h1 class="title">Our technical architecture</h1>
                <h3 class="description">
                      
                </h3>

                <br>
                             
                <img src="./assets/img/TechArchitecture.png" alt="Random first slide" class="bild-tech">
        
        <br>

    </div>
</div>

<br>
<hr> <!-- horizontal line-->
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <!-- <h2 class="text-center">Get in touch</h2>
                    
                    
                   
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>

                -->

                </div>
            </div>
        </div>
    </div>
</div>
